@import './vars.scss';

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: rgba(122, 122, 122, 0.3);

  // transition not work

  &:window-inactive {
    background-color: rgba(122, 122, 122, 0.3);
  }

  &:hover {
    background-color: rgba(122, 122, 122, 0.7);
  }

  &:active {
    background-color: rgba(122, 122, 122, 0.9);
  }
}

:root {
  --vp-button-brand-text: var(--vp-c-white);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(68px);
  }
}