.VPButton.medium {
    border-radius: 12px !important;
}

:root {
    --vp-home-hero-name-color: transparent;
    // --vp-home-hero-name-background: -webkit-linear-gradient(225deg, var(--c-yellow-2) 30%, var(--c-green-1));
    --vp-home-hero-name-background: linear-gradient(to right, rgba(216, 0, 15, 0.8), rgba(250, 108, 0, 1), #dc8f03, #ffa500); // Happy New Year

    // --vp-home-hero-image-background-image: linear-gradient(-45deg, #f5abb9 50%, #5bcffa 50%);
    --vp-home-hero-image-background-image: linear-gradient(-45deg, rgba(216, 0, 15, 0.8) 50%, rgba(250, 108, 0, 1) 25%, #dc8f03 25%); // Happy New Year
    --vp-home-hero-image-filter: blur(44px);

    --c-yellow-1: rgba(255, 216, 89, 1);
    --c-yellow-2: rgba(255, 216, 89, 0.9);
    --c-yellow-3: rgba(255, 216, 89, 0.8);
    --c-yellow-soft: rgba(255, 216, 89, 0.16);
    --c-green-1: rgba(61, 214, 140, 1);
    --c-green-2: rgba(61, 214, 140, 0.9);
    --c-green-3: rgba(61, 214, 140, 0.8);
    --c-green-soft: rgba(61, 214, 140, 0.16);
    --c-white-dark: rgba(248, 248, 248, 1);
    --c-black-darker: rgba(13, 18, 27, 1);
    --c-black: rgba(17, 24, 39, 1);
    --c-text-dark-1: rgba(217, 230, 235, 1);
    --c-text-light-1: rgba(44, 62, 80, 1);
}

.vp-doc .custom-block {
    position: relative;
    border-left: 6px solid;
}

/**
 * Component: doc-blocks
 * -------------------------------------------------------------------------- */

.vp-doc .custom-block {
    position: relative;
    border-left: 6px solid;
}

.vp-doc .custom-block.info .custom-block-title,
.vp-doc .custom-block.note .custom-block-title,
.vp-doc .custom-block.tip .custom-block-title,
.vp-doc .custom-block.important .custom-block-title,
.vp-doc .custom-block.warning .custom-block-title,
.vp-doc .custom-block.caution .custom-block-title,
.vp-doc .custom-block.danger .custom-block-title,
.vp-doc .custom-block.details .custom-block-title {
    margin-left: 1.25em;
}

.vp-doc .custom-block:before {
    display: inline-block;
    position: absolute;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    margin: 0.15em 0 0 -0.15em;
    background-color: currentColor;
    width: 1.25em;
    height: 1.25em;
    content: '';
}

.vp-doc .custom-block.info,
.vp-doc .custom-block.note {
    --svg: url('/assets/ic_round-info.svg');
    border-left-color: var(--vp-c-text-2);
    color: var(--vp-c-text-2);
}

.vp-doc .custom-block.info .custom-block-title,
.vp-doc .custom-block.info:before,
.vp-doc .custom-block.note .custom-block-title,
.vp-doc .custom-block.note:before {
    color: var(--vp-c-text-1);
}

.vp-doc .custom-block.tip {
    --svg: url('/assets/ic_round-info.svg');
    border-left-color: var(--vp-c-green-1);
    background-color: var(--vp-c-green-soft);
    color: var(--vp-c-green-2);
}

.vp-doc .custom-block.tip .custom-block-title,
.vp-doc .custom-block.tip:before {
    color: var(--vp-c-green-1);
}

.vp-doc .custom-block.tip code {
    background-color: var(--vp-c-green-soft);
    color: var(--vp-c-green-1);
}

.vp-doc .custom-block.tip a {
    color: var(--vp-c-green-1);
}

.vp-doc .custom-block.warning,
.vp-doc .custom-block.caution,
.vp-doc .custom-block.danger {
    --svg: url('/assets/ic_round-warning.svg');
    border-left-color: var(--vp-c-warning-1);
    color: var(--vp-c-warning-2);
}

.vp-doc .custom-block.warning .custom-block-title,
.vp-doc .custom-block.warning:before,
.vp-doc .custom-block.caution .custom-block-title,
.vp-doc .custom-block.caution:before,
.vp-doc .custom-block.danger .custom-block-title,
.vp-doc .custom-block.danger:before {
    color: var(--vp-c-warning-1);
}

.vp-doc .custom-block.warning.danger,
.vp-doc .custom-block.warning.caution,
.vp-doc .custom-block.caution.danger,
.vp-doc .custom-block.caution.caution,
.vp-doc .custom-block.danger.danger,
.vp-doc .custom-block.danger.caution {
    border-left-color: var(--vp-c-danger-1);
    color: var(--vp-c-danger-2);
}

.vp-doc .custom-block.warning.danger .custom-block-title,
.vp-doc .custom-block.warning.danger:before,
.vp-doc .custom-block.warning.caution .custom-block-title,
.vp-doc .custom-block.warning.caution:before,
.vp-doc .custom-block.caution.danger .custom-block-title,
.vp-doc .custom-block.caution.danger:before,
.vp-doc .custom-block.caution.caution .custom-block-title,
.vp-doc .custom-block.caution.caution:before,
.vp-doc .custom-block.danger.danger .custom-block-title,
.vp-doc .custom-block.danger.danger:before,
.vp-doc .custom-block.danger.caution .custom-block-title,
.vp-doc .custom-block.danger.caution:before {
    color: var(--vp-c-danger-1);
}

.vp-doc .custom-block.important {
    --svg: url('/assets/ic_round-info.svg');
    border-left-color: var(--vp-c-important-1);
    color: var(--vp-c-important-2);
}

.vp-doc .custom-block.important .custom-block-title,
.vp-doc .custom-block.important:before {
    color: var(--vp-c-important-1);
}

.vp-doc .custom-block.details {
    border-left-color: var(--vp-c-text-2);
}

.vp-doc .custom-block.details p {
    color: var(--vp-c-text-2);
}

.vp-doc .custom-block.details:before {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1' height='1'%3E%3C/svg%3E");
}

.vp-doc blockquote {
    position: relative;
    transition: border-color 0.5s;
    border-left: 6px solid var(--vp-c-text-3);
    border-radius: 0.5em;
    background-color: var(--vp-c-bg-soft);
    padding: 0.25em 0 0.25em 1em;
    color: var(--vp-c-text-3);
}

.vp-doc blockquote>p {
    font-size: 14px;
}

.dark {
    --vp-c-bg: rgba(17, 24, 39, 1);
    --vp-c-text-1: rgba(217, 230, 235, 1);
    --vp-c-brand-1: var(--c-yellow-1);
    --vp-c-brand-2: var(--c-yellow-2);
    --vp-c-brand-3: var(--c-yellow-3);
    --vp-button-brand-bg: var(--c-yellow-1);
    --vp-home-hero-name-background: -webkit-linear-gradient(45deg, var(--c-yellow-2) 30%, var(--c-green-1));
}